Голосов за А
Подтвержденных: {{ confirmed_A }}
В ожидании: {{ wait_A }}
Пришло ETH_A: {{ eth_A }}
Комиссии удержано: {{ fee_A }}
Ставка текущая: {{ rate_A }}

Голосов за B
Подтвержденных: {{ confirmed_B }}
В ожидании: {{ wait_B }}
Пришло ETH_B: {{ eth_B }}
Комиссии удержано: {{ fee_B }}
Ставка текущая: {{ rate_B }}

Общий профит: {{ profit }}
