За последние сутки заболело: {{ cases_day }}.
Открыто голосование на результаты завтрашнего дня.

Текущие коэффициенты выигрыша:
A: {{ rate_A }}, при условии меньше {{ control_value }} включительно.
B: {{ rate_B }}, при условии больше {{ control_value_plus_1 }} включительно.

Заявки принимаются до: {{ time_limit }} GMT.
Ставка: {{ bet_amount }} ETH.
Проголосуй кнопками ниже.