Голос учитывается только в случае отправки верной суммы {{ bet_amount }} ETH на указанный кошелёк. Убедись, что все данные верны.

Пожалуйста, введи свой действительный адрес эфир-кошелька в ответ на это сообщение. В случае выигрыша ты получить на него выплату.