<b>Набор команд</b>, которые тебе могут понадобиться:

Общая информация: /help
Начать игру: /bet
Информация по твоим играм: /status
Актуальная информация по заболевшим: /how_many

<b>Правила игры</b>:
Ты делаешь ставку, что заболевших будет <b>больше (А)</b> либо <b>меньше (В)</b> контрольного значения. Контрольное значение определяется рандомно.

На выигрыш А и В формируются коэффициенты, которые зависят от количества игроков, проголосовавших за каждый выбор. Чем больше голосуют за определённый выбор, тем меньше становится коэффициент на победу.

Каждый день –– новая игра. Игра заканчивается в 09:00 МСК. После этого ставки не принимаются. Результаты объявляются после публикации <a href="https://xn--80aesfpebagmfblc0a.xn--p1ai/">официальной статистики</a>. Затем стартует новая игра.

<b>Текущая игра</b>:
На текущий раунд контрольное значение –– <b>{{ control_value }}</b>.

Ставки принимаются на:
<b>A</b>: Заболевших будет меньше, чем <b>{{ control_value }}</b> включительно. Любое число, которое меньше либо равно <b>{{ control_value }}</b> считается верным ответом.

<b>B</b>: Заболевших будет больше, чем <b>{{ control_value_plus_1 }}</b> включительно. Любое число, которое больше либо равно <b>{{ control_value_plus_1 }}</b> считается верным ответом.

В текущей игре коэффициенты сформированы как:

На выигрыш события A: <b>{{ rate_A }}</b>;
На выигрыш события B: <b>{{ rate_B }}</b>;

Чтобы проголосовать, выбери вариант кнопкой ниже (А или B). После выбора подтверди свой голос –– переведи <b>{{ bet_amount }}</b> ETH и введи свой кошелёк отправления в поле сообщения. Без перевода и данных кошелька голос не будет учтён.

 ❗️ Сумма перевода должна быть в точности равна <b>{{ bet_amount }} ETH</b>. В противном случае перевод будет возвращён.
 ❗️ Укажи именно тот кошелек, с которого делаешь перевод. В противном случае перевод будет возвращён.

Делать ставки в текущей игре можно до <b>{{ time_limit }} GMT</b>.
Любой перевод, сделанный после <b>{{ time_limit }} GMT</b> –– вернётся как неверный. Это исключит участие в игре после объявления результатов.

<b>Подтверждение участия</b>:
После выбора одного из вариантов в игре (А или В), нужно сделать перевод <b>{{ bet_amount }}</b> ETH и ввести кошелек, с которого он был сделан.

Сумма перевода должна быть в точности <b>{{ bet_amount }}</b> ETH, чтобы я мог зачесть ставку. Некоторые кошельки включают mining fee в сумму перевода. В таком случае отправится меньшая сумма и перевод не будет учтён. Перевод большей суммы тоже не будет учтён.

Все недействительные переводы будут отправлены обратно в течение двух суток. Сумма будет возвращена за вычетом mining fee.

После перевода обязательно введи данные своего кошелька, чтобы я мог связать пользователя со ставкой и уведомить о результатах.

<b>Статус</b>:
При вызове команды статуса, я покажу все твои ставки в текущем раунде:

Твой выбор (А или В) и коэффициент выигрыша на текущий момент;
Кошелек, с которого был сделан перевод;
Статус игры: подтверждена или нет.

<b>Актуальная информация о заболевших</b>:
По этой команде я расскажу:
сколько заболевших всего;
сколько их было за прошедшие сутки;
время последнего обновления статистики.

<b>Временная отсечка</b>:
В каждой игре существует временная отсечка –– время, после которого ставки для участия в игре не принимаются. Это нужно, чтобы исключить недобросовестных игроков.

После временной отсечки я перестаю реагировать на команду со ставками. Сумма, полученная на кошелёк ETH после отсечки, также будет возвращена обратно.