Привет!

Выиграла команда <b>{{ winner }}</b> с коэффициентом <b>{{ rate }}</b>.

Независимо от этого, мы очень надеемся, что скоро вся эта статистика станет лишь историей.

А пока настало время новой игры!

<b>Последние данные</b>:

Случаев за последние сутки в России: {{ cases_day }}
Общее количество случаев в России: {{ cases_total }}
Время последнего обновления: {{ last_update_time }}

Заходи, участвуй, делись с друзьями, гладь кота, играй со мной!