Привет!

Я бот для споров с друзьями.

Мы часто азартно спорим по поводу будущих событий. Я помогу тебе поспорить с друзьями и прочими участниками.
<b>Актуальное событие</b>: количество заболевших COVID-19.

<b>Правила игры</b>:
Ты предполагаешь сколько заболевших будет в России завтра до официальной статистики. Я даю тебе граничное значение, а ты ставишь на то, что заболевших будет больше либо меньше этого значения. Например, я говорю тебе, что завтра будет 6 578 заболевших. А ты делаешь ставку, что их будет больше либо меньше этого числа. После объявления официальной статистики на https://стопкоронавирус.рф, в случае выигрыша я перечисляю тебе ETH на кошелёк.

В зависимости от количества участников, голосующих за каждый вариант, изменяется коэффициент ставки каждого варианта.

Я также располагаю актуальными данными по заболеваемости COVID-19 в России. И распознаю некоторые команды.

<b>Мои команды</b>:
Актуальная информация по заболевшим: /how_many
Начать игру: /bet
Информация по твоим играм: /status
Общая информация: /help