Привет!

Время для участия в текущем раунде вышло. Я учёл всех участников, которые выполнили условия. Ждём результатов вместе :)

В текущем раунде коэффициенты зафиксировались на уровне:

На выигрыш события A: {{ rate_A }}
На выигрыш события B: {{ rate_B }}

Согласно этим коэффициентам будут выплаты на адреса победителей.